extends ../app

block variables
  -
    const pageTitle = 'Головна';

block content
  .page.index.bg-secondary.bg-gradient
    a.btn.btn-light(href='/patients') Пацієнти
    a.btn.btn-light(href='/episodes') Епізоди
    a.btn.btn-light(href='/diagnoses') Аналізи
    a.btn.btn-light(href='/report') Звiт

block scripts
